

.tagline{
    text-transform:uppercase;
    margin-bottom:24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.6px;
}

.titolo{
    font-weight:600;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: -1.8px;
}

.doc-titolo{
    font-weight:600;
    font-size: 46px;
    line-height: 45px;
    letter-spacing: -1.8px;
}

.doc-autore{
    font-weight:600;
    font-size: 20px;
    line-height: 45px;
    letter-spacing: -1px;
    color:#623FF0;
}


.doc-descrizione{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.2px;
    margin-top:14px;
    margin-bottom:50px;
}

.testo{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.2px;
    margin-top:24px;
    margin-bottom:50px;
}

.data{
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: -0.2px;
    margin-top:24px;
    margin-bottom:50px;
}


.special{
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -1px;
    margin-top:63px;
    margin-bottom:159px;
}
